@import 'src/app/indents/new-indents/new-indents.component.scss';

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-toggle {
    background-color: #242842;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #2a2a3c;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;

    .arrow-down {
      border: solid white;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      margin-left: 10px;
    }

    &:focus {
      outline: none;
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #1e1e2d;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
    border: 1px solid #2a2a3c;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        border-bottom: 1px solid #2a2a3c;

        &:last-child {
          border-bottom: none;
        }

        a {
          color: white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;

          &:hover {
            background-color: #2a2a3c;
          }
        }
      }
    }
  }

  &:hover .dropdown-menu {
    display: block;
  }
}

.tags{
  margin-left: 450px;
}
.order-details{
  margin-left: 450px;
  gap: 20px;
}
.pagination-wrapper {
  display: grid;
  height: 45px;
  place-items: center;
}
ix-empty-state{
  margin: 30px;
}